body {
	background: $color__background-body; // Fallback for when there is no custom background color defined.
	overflow-x: hidden;
	&.overflow-hidden{
		@media (min-width: 992px){
			overflow: hidden;
		}
	}
}
