.capacitacion__page--estructura-organizacional{
    .container{
        max-width: 1152px;
        margin-top: 90px;
        margin-bottom: 90px;

    }
    .button{
        background-color: black;
        color: #fff;
        text-align: center;
        display: block;
        max-width: 214px;
        padding: 11px ;
        border-radius: 8px;
        text-decoration: none;
        display: inline-block;
        width: 100%;
        margin-bottom: 35px;
        margin-top: 80px;
    }
}